/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/mosBackground.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
    /* overflow: hidden; */
}



body {
  overflow-y: auto;
}
  
/* Header Styles */
header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-background {
    background-color: #f5f5f5;
    position:  fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-image: url('../images/mosBackground.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 900;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo a {
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    z-index: 1000;
}
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .sign-in {
    /* background-color: #333;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 5px; */
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #f0f0f0; /* 边框颜色 */
    border-radius: 5px; /* 圆角 */
    text-decoration: none; /* 去掉下划线 */
    color: #f0f0f0; /* 文字颜色 */
    transition: background-color 0.3s, color 0.3s; /* 添加过渡效果 */
  }

  .sign-in:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  