  /* Main Content Styles */
  .container::-webkit-scrollbar {
    display: none;
  }
  
  .container {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    overflow:auto;
    z-index: 980;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 60px;
    padding-bottom: 60px;
  }
  
  .start-button {
      background-color: #FFA500;
      color: white;
      border: none;
      padding: 20px 60px;
      border-radius: 40px;
      font-size: 18px;
      margin-top: 100px;
      margin-bottom: 100px;
  }
  
  .start-button:hover {
      background-color: #FF8C00;
      cursor: pointer;
      letter-spacing: 5px;
  }
  
  h1 span {
      font-size: 44px;
      letter-spacing: 10px;
  }
  
  h1 {
      font-size: 28px;
      margin-bottom: 10px;
      padding: 15px;
      letter-spacing: 10px;
  }
  
  .subtitle span {
      font-size: 28px;
      letter-spacing: 10px;
  }
  
  .subtitle {
      font-size: 18px;
      margin-bottom: 20px;
      padding: 15px;
      letter-spacing: 10px;
  }
  
  
  .features {
      font-size: 18px;
      margin-bottom: 20px;
      letter-spacing: 10px;
      margin-bottom: 100px;
  }
  
  .language-tags .language-tag-row1 {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .language-tags .language-tag-row2 {
    display: flex;
    justify-content: center;
    margin-right: 150px;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .language-tags .language-tag-row3 {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    gap: 30px;
    margin-bottom: 100px;
  }
  
  .language-tag {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 25px 45px;
      border-radius: 40px;
      font-size: 18px;
  }
  
  .language-tag:hover {
      transform: scale(1.2);
      cursor: pointer;
  }
  
  .info-boxes {
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .info-box h3 {
      font-size: 28px;
      margin: 28px;
      justify-content: space-between;
      margin-top: 50px;
      letter-spacing: 10px;
  }
  
  .info-box p {
      font-size: 18px;
      margin: 0;
      justify-content: space-between;
      margin-bottom: 15px;
      letter-spacing: 8px;
  }
  
  .info-box img {
      width: 800px;
      height: 420px;
      margin:30px;
  }
  
/* Footer Styles */
.footer-container {
  padding: 10px 0;
  width: 100%;
  margin-top: 50px;
}

.footer-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer-container span {
  margin: 0 30px;
}

.footer-container a {
  margin-left: 5px;
  color: #0713ea;
}

.footer-container ion-icon {
  font-size: 1.5em;
  vertical-align: middle;
}
